body {
	margin: 30px;
	font-family: Aleo;

}

h1 {

	text-align: center;
	font-family: Aleo;
	margin: 0px 0px 20px 0px;
}

span {

	color: #B9B9B9;
	font-size: 14px;
	font-family: Aleo;
}

#container .form-input label {

	display: block;
	font-size: 10px;
	font-family: Aleo;
	font-weight: bold;
}


.btn-go {

	align-items: center;
	margin: 10px;
	padding: 10px;
}


